<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>Class:</strong>
  <%= @assignment.subject.name %>
</p>

<p><strong>Comments about this assignment.</strong></p>

<% @assignment.comments.each do |comments| %>
<%= comments.description %> Posted by <%= current_user.first_name%><p>
<% end %>

<%=@assignment.id%>
<p>
<%= link_to 'New', new_comment_path(:assignment_id =>@assignment.id) %> |<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
