<p>
  <h1>Assignment for <%= @assignment.subject.name %> class</h1><p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p><strong>Please type in your response below.</strong></p>

<table class="table table-hover">
    
   
    <% @assignment.comments.each do |comments| %>
     <tr><td><%= comments.description %> </td>
      <td><%= comments.rating %> </td>
      <td>Posted by <p><%= comments.student.first_name %></td>
     	<td><%= comments.created_at.strftime("%x %I:%M %p") %></td>
      <td><%#= link_to 'Edit', edit_assignment_comment_path(comments.id) %>
           
     	<td><%= button_to 'Approve', accept_assignment_assignment_path(:comments_id => comments.id, :assignment_id => @assignment)%></td>
      <td>
        <%#= link_to 'Delete', comments.id, method: :destroy, data: { confirm: 'Are you sure?' } %>
      </td>
    

    </tr>
    <% end %>

    
</table>

<%#= render 'assignments/comments' %>
<%= render 'assignments/create_comments' %>

<%= link_to 'Back', subjects_path %>
