<p id="notice"><%= notice %></p>

<p>
  <h1>Assignment for <%= @assignment.subject.name %> class</h1><p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p><strong>Please type in your response below.</strong></p>




<%= render 'assignments/comments' %>
<%= render 'assignments/create_comments' %>

<%= link_to 'Back', assignments_path %>
