<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @schedule.user_id %>
  <% @schedule.save %>
</p>

Add Classes to schedule<- want to make this a button that will enter class I select based on the subjects I have created<p>



<p><strong>Classes</p></strong>

<table class="table table-hover">
<%#= schedule.user.name%>
<% @schedule.subjects.each do |subject|%>
<tr><td><%= subject.name%></td>
</tr>
<%end%>
<%#= render 'schedules/create_userschedule'%>
</table>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
