<p id="notice"><%= notice %></p>

<p><strong>Assignments for <%= @subject.name %></strong></p>


<table class="table table-hover">


<% @subject.assignments.each do |assignments| %>
  <tr>
    <td><%= assignments.description %></td>
    <td> <strong>Created on </strong><%= assignments.created_at.strftime("%m/%d/%Y %I:%M%p")  %></td>
    <td><%= link_to 'View', assignments %>|<%= link_to 'Edit', edit_assignment_path(assignments) %>| <%= link_to 'Delete', assignments, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  </tr>
<%#= link_to 'Delete', comments, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</table>


<%= form_for([@subject, @subject.assignments.build]) do |f| %>
  <p>
 <div class="field">
    <%= f.text_area :description %>
</div>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>


<%#= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
