<p id="notice"><%= notice %></p>

  
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @subject.schedule_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @subject.teacher_id %>
</p>




<p><strong>Assignments for <%= @subject.name %></strong></p>
<table class="table table-bordered">
<% @subject.assignments.each do |assignments| %>
<li><%= assignments.description %> <strong>Created on </strong><%= assignments.created_at.strftime("%m/%d/%Y %I:%M%p")  %></li>
<%#= link_to 'Delete', comments, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</table>


<%= form_for([@subject, @subject.assignments.build]) do |f| %>
  <p>
 <div class="field">
    <%= f.text_area :description %>
</div>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>






<%#= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
